[2019-09-01 08:01] Thesmader opened #28 "Code Documentation"
The project code needs to be documented.

[2019-09-02 13:43] Chinmay-KB opened #30 "Blank screen before exiting the app"
When we hit the back button from the homepage, we expect to exit the app. Instead it shows a black screen first, then we need to hit the back button again to exit the app

[2019-09-03 16:50] Thesmader opened #31 "Timetable corrections"
Communicative English doesn't show up on the timetable for Sections G and H.

[2019-09-03 16:56] Thesmader opened #32 "Display Splash Screen"
Display splash screen until the user is logged in

[2019-09-04 05:50] DesignrKnight commented on #31
Fixed in pull request #33

[2019-09-04 05:50] #31 closed

[2019-09-09 08:45] DesignrKnight opened #34 "Text widget clearing on widget rebuild"
**Text widget clearing on widget rebuild**
The user-data screen in the login flow is the route with the issue. The text widget gets cleared of the data on pressing the keyboard hide button or the continue button.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to user data screen after login
2. Type something in the text fields
3. Press the back button below the keyboard
4. See the error

[2019-09-26 14:02] Thesmader commented on #32
Could get a nice Flare animation for Splash Screen.

[2019-09-26 18:08] DesignrKnight commented on #34
Fixed in #35

[2019-09-26 18:08] #34 closed

[2019-09-28 17:18] DesignrKnight opened #36 "Automatic reset of slots booked weekly"
**Proposed solution**
1. A Firebase Cloud Functions based function to reset them weekly via an Admin Panel type configuration
2. An admin app on mobile with similar features

**Present Case**
A maintainer needs to manually do it by editing the database

[2019-09-29 09:18] hkp27299 commented on #32
I can work on it make PR after 1st October

[2019-09-29 11:59] DesignrKnight commented on #32
Thank you for your interest.
Should I assign this to you?

[2019-09-29 13:02] hkp27299 commented on #32
yes sure can you tell me what is this app for so i can design related splash screen?

[2019-09-29 13:08] DesignrKnight commented on #32
Check out the app on play store
[https://play.google.com/store/apps/details?id=in.ac.nitrkl.scp.scp&hl=en](https://play.google.com/store/apps/details?id=in.ac.nitrkl.scp.scp&hl=en)

[2019-09-29 13:09] hkp27299 commented on #32
oky asign this to me thnx for support.

[2019-09-29 13:19] DesignrKnight commented on #32
The App uses Firebase authentication and would not sign for releases from new devices.due to SHA mismatch.
We would share a workaround for the same soon.

[2019-09-29 13:20] hkp27299 commented on #32
oky

[2019-09-29 13:22] DesignrKnight commented on #32
There is a Slack channel for this. If you are interested, you can send your email address here

[2019-09-29 13:39] hkp27299 commented on #32
I have some issue while compile it some firebase import error because it will missing
google-services.jason
![Screenshot (3)](https://user-images.githubusercontent.com/44067918/65833317-a92d7a80-e2ec-11e9-8b6d-51edd068f691.png)

[2019-09-29 13:51] Chinmay-KB opened #38 "Search in FAQ crashes"
If for some reason the internet is down while we are searching something in FAQ, app crashes instantly

Steps to reproduce the behaviour:
1. Go to FAQ
2. Let the initial list load
3. Turn off your Mobile data/WiFi
4. Try searching for something

If we are already into the FAQ section and then net connection is down, then we just exit the FAQ screen. If net is down in the homepage itself, i.e befor

[2019-09-29 14:17] DesignrKnight commented on #32
Kindly send the email address associated with your Firebase account. We'll give you access

[2019-09-29 14:23] hkp27299 commented on #32
hkp27299@gmail.com

[2019-09-29 14:35] DesignrKnight commented on #32
Added you into Firebase project. You can download the JSON from there and add to the project before building.

[2019-09-29 14:36] hkp27299 commented on #32
oky thnx

[2019-09-29 16:39] hkp27299 commented on #32
still Auth error =====>
![Screenshot (4)](https://user-images.githubusercontent.com/44067918/65835586-d8041a80-e305-11e9-8ac0-ce1e13afd6e3.png)

[2019-09-29 17:20] DesignrKnight commented on #32
Use phone number as 1234567890
OTP 123456

[2019-09-30 16:50] hkp27299 commented on #32
Bro i am almost done with this i will make pr after  day..

[2019-10-02 09:59] DesignrKnight opened #40 "Add notification and Notification Drawer"
**Send an instant update to all users in times of need**
Implement FCM and store them in the database to view later

[2019-10-02 10:00] DesignrKnight opened #41 "Add Contributing.md to Repo"

[2019-10-02 12:49] AmaldevAD commented on #30
i would suggest you to keep main.dart file codes as much less as possible

[2019-10-03 18:17] ferquies commented on #38
I take care of it! 👍

[2019-10-04 01:51] Chinmay-KB commented on #38
Okay, so there are a few places where we need an active internet connection
1. FAQ
2. Book your appointment
3. Mentors

It would be nice if you could check for internet connection everywhere.
Also, display an appropriate snackbar notifying the user of the inactive internet connection.

I'd recommend you to rather implement the internet connectivity logic on the flutter side than in native, so that

[2019-10-05 10:25] harshsri2208 opened #45 "Information about TimeTable.java file"
Could someone explain what the TimeTable.java file exactly does?

[2019-10-05 10:43] ferquies commented on #38
Ok, in Mentors section there are actually a button that indicates there is no internet connection. Did you mean we must show the "No internet connection" snackbar before open any section that needs internet or implement the snackbar inside each section?
And in case we must show the snackbar inside each screen, in the case of FAQ I have to show it in native.

[2019-10-05 11:25] DesignrKnight commented on #45
TimeTable.java was the standalone program in Java made to test the algorithm of decoding the timetable before the app was created. It is a standalone program and is not used for app production.

[2019-10-05 11:25] #45 closed

[2019-10-07 13:13] Thesmader opened #46 "Refactoring and Code Cleanup"
Many variables names do not follow Dart's guidelines. Various instances of unused functions and imports. A lot of redundant code is present.

[2019-10-08 17:51] Thesmader commented on #28
Documentation should follow these Dart guidelines: [Official Dart Documentation Guidelines](https://dart.dev/guides/language/effective-dart/documentation).

[2019-10-10 16:35] DesignrKnight commented on #41
Partially fixed in #44

[2019-10-13 15:54] Chinmay-KB opened #49 "Accommodate Timetable card for 2 types of timetable"
Currently, the app only serves regular timetable, while leaving out the tutorial class timetable. The app should be modified to accommodate both the timetables and designed accordingly

On clicking the "Timetable" card, it splits into two, one for the normal timetable and the other for tutorial classes. Clicking the respective card leads to respective timetables.

[2019-10-15 04:22] DesignrKnight commented on #49
Fix in #50

[2019-10-27 03:10] #46 closed

[2019-11-01 04:52] DesignrKnight commented on #40
Solved in #55

[2019-11-01 04:53] #40 closed

[2019-12-07 12:56] ankank30 opened #57 "Id card image upload"
**Is your feature request related to a problem? Please describe.**
Many users books an appointment without actual intention.

**Describe the solution you'd like**
Making the booking process tougher.

**Additional context**
The users now need to upload their Id card image so that only verified and intentional user books an appointment.

Later one can even introduce ML kit to verify the users are ge

[2020-01-15 06:38] sudhansu3299 commented on #30
I think keeping Scaffold in the top of widget tree will help. Shall i go for it?

[2020-01-16 18:16] #49 closed

[2020-07-15 18:13] DesignrKnight commented on #30
#53

[2020-07-15 18:14] DesignrKnight commented on #57
Fixed by @ankank30

[2020-07-15 18:14] #57 closed

[2020-07-16 09:47] DesignrKnight opened #69 "Revamp Design of Mentor's Detail Page"
**Describe the solution you'd like**
The mentor's page has very basic design as of now. It should be improved to make it consistent with the overall theme of app in other sections

[2020-07-16 09:51] DesignrKnight opened #70 "Have the app show the user the network connectivity status"
**Describe the solution you'd like**
Inspiration can be taken from YouTube which shows at the bottom a message when the user goes offline and/or comes back online.

This should be done modular so that it can cover all sections of the app

[2020-07-16 09:59] DesignrKnight opened #71 "Not able to build debug apk"
**Describe the bug**
The present code on building a debug apk causes an error

**To Reproduce**
Try to build a debug apk

[2020-07-16 10:12] DesignrKnight opened #72 "Create adaptive and legacy launcher icons"
[Link for reference](https://developer.android.com/studio/write/image-asset-studio#create-adaptive)

[2020-07-16 10:17] DesignrKnight opened #73 "Make links intuitive"
The links of website and intents that open phone for the call are not intuitive. A demarcation with a colour/text-style would enhance user-experience.

Refer the Developer Info, About ICS Page, Important Docs.

[2020-07-16 10:19] DesignrKnight opened #74 "Fix DSC Logo"

[2020-07-16 10:29] DesignrKnight opened #75 "Make a layout for FAQs in Flutter"
The present screen is made in Native Android. Re-make in Flutter.

Data would be fetched via API(not yet ready)

[2020-07-16 16:58] DesignrKnight opened #76 "Make Important Documents dynamic"
Fetch the important documents from Firebase document. As of now, it is done statically

[2020-07-21 04:38] DesignrKnight opened #77 "Fix Landscape rotation"
![image](https://user-images.githubusercontent.com/27865704/88013393-eabc3a00-cb39-11ea-8416-ae925438d9c6.png)

[2020-07-27 10:10] nayakastha commented on #73
I would like to work on this issue

[2020-07-27 12:15] DesignrKnight commented on #73
Hello
Can you mail from your mail associated with Firebase? We will add you as a collaborator, without that you won't be able to build the project.

[2020-07-27 12:17] DesignrKnight commented on #73
The link of above-mentioned pages can have a look and feel like the notification section of the app. You may refer.
What we are referring as link are phone number email and website that on clicking open new activity outside the app

[2020-07-27 13:02] nayakastha commented on #73
Hey!
This is my mail associated with firebase as well.

On Mon, Jul 27, 2020, 17:46 Abel Mathew <notifications@github.com> wrote:

[2020-07-30 07:28] DesignrKnight opened #79 "Add Contributors in App"
Make a section in About Developers Page

[2020-07-30 09:04] DesignrKnight opened #80 "Test1"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the fo

[2020-07-30 09:05] #80 closed

[2020-07-30 13:12] #73 closed

[2020-08-11 18:16] nayakastha commented on #69
I want to work on this.

[2020-08-12 12:10] Thesmader commented on #69
Hey, @nayakastha glad to know that! Do you have a specific design on your mind? If so, please send an image or talk about it here. Thanks!

[2020-08-12 17:21] nayakastha commented on #69
I was thinking about modifying the text field a bit. More like placing the whole form in the centre of the page.

[2020-08-12 17:24] DesignrKnight commented on #69
Go ahead.
Would recommend having a sketch if possible. Even a paper sketch of what design you are planning. Help in coding as well

[2020-08-12 17:29] nayakastha commented on #69
![Screenshot_20200812_225456](https://user-images.githubusercontent.com/58568514/90047344-65b6e180-dcef-11ea-829b-9dabdf448d64.jpg)

[2020-08-12 17:31] nayakastha commented on #69
This has the basic changes I have made. If there are any more suggestions, I will incorporate them as well.

[2020-08-12 17:32] DesignrKnight commented on #69
What about the next page? After I click the tick?

[2020-08-12 17:33] nayakastha commented on #69
I haven't thought about it. Are there any particular changes I should take care of?

[2020-08-12 17:34] DesignrKnight commented on #69
@Thesmader
Can you send some sample neat design for inspiration?

[2020-08-12 17:36] Thesmader commented on #69
Let me find something. But it's not gonna be like we can use it directly. We can derive some inspiration but in the end we need the design consistent with the app😀

[2020-08-12 17:44] Thesmader commented on #69
https://dribbble.com/shots/5676730-Team-Section-Qonto
Something like the card shown on the right screen on this design could work. We don't need the profile picture right now. The call to actions for phone, email can be there along with the relevant info. Also, do you guys think if a call to action for WhatsApp can be of help if the implementation is possible?

[2020-08-12 17:50] nayakastha commented on #69
I will try to implement something of that sort.

[2020-08-18 07:15] DesignrKnight commented on #69
Any progress @nayakastha ?

[2020-09-06 16:05] nayakastha opened #83 "Making the targetSDKVersion to API Level 29"
Configure the app to Android 10( API Level 29)

[2020-09-06 16:06] nayakastha commented on #83
Configure the app to Android 10( API Level 29)

[2020-09-06 19:33] nayakastha commented on #83
![Since GooglePlay won't be supporting API levels less than 29](https://user-images.githubusercontent.com/58568514/92333783-ca265000-f0a5-11ea-8128-d25b916cca81.jpg)

[2020-09-09 07:21] #83 closed

[2020-09-10 06:15] abhibhaw commented on #77
Hey,

I want to work on this issue... and for the same, I need google services.json file.

[2020-09-10 07:44] DesignrKnight commented on #77
@Thesmader
You'll do the Google services sharing, I suppose.

[2020-09-11 04:12] #77 closed

[2020-09-19 10:54] Thesmader opened #86 "Configure notification channels"
- [x] Academic and other notifications(Academics for everyone, Other notifications optional).
- [x] Add option to (un)subscribe to other notifications.
- [x] Store device tokens in Firestore

[2020-09-19 11:03] Thesmader opened #87 "Integrate attendance tracker"
- [ ] Users can log their absence(Subject, Date, User ID).
- [ ] Replace ICS remeidal classes timetable with attendance tracker(Timetable card splits into two).

[2020-09-19 11:08] Thesmader commented on #72
@DesignrKnight

[2020-09-19 11:27] DesignrKnight opened #88 "Upgrade cloud function from Node 8"
Node 8 is deprecated as of now. Needs upgrade to continue using properly

[2020-09-19 11:28] #69 closed

[2020-09-19 11:30] DesignrKnight commented on #88
**NOTICE**
Node.js 8 has been deprecated.
From 15 Feb 2021, we'll no longer support new deploys or updates of Node.js 8 functions.
Starting 15 Mar 2021, we'll no longer support executions of existing Node.js 8 functions.

[2020-09-19 17:37] SriramPatibanda commented on #30
I think instead of exiting the app on a single-click, it's better to add a prompt saying "click again to exit the app".
Would like to work on this issue.

[2020-09-19 18:05] DesignrKnight commented on #30
Assigning you the same, look at the linked PR as @Chinmay-KB had done something, you may use that.

Additionally, I am not really sure about a prompt asking, if someone wants to exit the app, makes sense here? It is helpful in places like video conferencing.

[2020-09-24 04:49] #30 closed

[2020-09-29 16:39] pratik0197 opened #93 "Trim Roll Number in the middleware."
While opening the app for the first time, and while searching for mentors, Roll number has to be entered. If an extra space is present after or before the roll number it's not accepted as a valid one.

[2020-09-29 16:44] DesignrKnight commented on #93
This looks like a good issue to work on. Do you want to work on this?

[2020-09-29 16:45] pratik0197 commented on #93
Yes. I'd like to work on this

[2020-09-30 05:35] DesignrKnight commented on #93
Go ahead, all the best. Assigned

[2020-10-01 07:49] DesignrKnight opened #105 "Make main.dart de-cluttered"
Present main.dart file is too complex. Having the functionality separated would make the code clean and easy to manage

[2020-10-01 08:20] priyanshu0405 commented on #105
Hey @DesignrKnight, can I take this issue? Thanks!!

[2020-10-01 09:20] DesignrKnight commented on #105
Yeah sure, go-ahead
Assigning you the same

[2020-10-01 10:07] rajnis09 commented on #70
I would like to work on this if you assign me

[2020-10-01 10:12] DesignrKnight commented on #70
Yeah, definitely
Assigning you

Thanks for the initiative

[2020-10-01 11:10] rajnis09 commented on #70
Thanks to you
can you share the .json file?

[2020-10-01 11:13] DesignrKnight commented on #70
Share your Firebase mail address, will add you

[2020-10-01 11:26] rajnis09 commented on #70
rajnish.kumar2998@gmail.com

[2020-10-01 11:30] DesignrKnight commented on #70
Added you on the project at Firebase

[2020-10-01 11:33] rajnis09 commented on #70
Thanks

[2020-10-01 11:47] abhibhaw commented on #71
@DesignrKnight @Thesmader

**flutter build apk --debug** is working in the following manner....

flutter clean
flutter pub get
flutter build apk --debug

Got this Output [apk-debug.apk](https://drive.google.com/file/d/1nlqLc7mbOrDRjm8y5Nk24xMDnHrATj3a/view?usp=sharing)

Have a look.

[2020-10-01 19:12] therealansh commented on #88
hey @DesignrKnight , can I work on this one? Thank You.

[2020-10-01 19:44] DesignrKnight commented on #88
Hey, the code is as of now private. The cloud functions.
Give us a few days, we will make it public.

[2020-10-01 22:40] therealansh commented on #88
Alright. I would like to work on them as soon as they go public.

[2020-10-02 03:59] DesignrKnight commented on #88
Thanks, perfect

[2020-10-03 10:57] arbazdiwan commented on #75
Hey @DesignrKnight, I would like to work on the issue #75.
If you find my collaboration helpful, Please assign the same to me.

[2020-10-03 19:22] DesignrKnight commented on #75
Thanks so much, @arbazdiwan for your enthusiasm

@Chinmay-KB will guide further

[2020-10-04 04:38] arbazdiwan commented on #75
sure.
should I contact him or he will reach out to me?

[2020-10-04 17:19] arbazdiwan commented on #75
@Chinmay-KB, please reply asap.

[2020-10-04 20:07] Chinmay-KB commented on #75
Sorry for the delayed response and thanks for your patience.
The current FAQ screen is built in native java because back then flutter didn't have good richtext support. We have used appbase for search currently.

In the new version of FAQ, there are mainly 4 parts
Search, Filter, Question, Answer

Each question will be having certain tags based on whcoh the results will be filtered.

![IMG-2020100

[2020-10-04 20:08] Chinmay-KB commented on #75
If you are clear, then it would be nice if you could share a low fidelity wireframe of how you're going to implement the UI

[2020-10-05 02:44] arbazdiwan commented on #75
sure.

On Mon, 5 Oct 2020, 1:39 am Chinmay Kabi, <notifications@github.com> wrote:

[2020-10-05 03:39] arbazdiwan commented on #75
can you give me a sample of response from your API?

[2020-10-05 03:44] DesignrKnight commented on #75
The API response will look something along the lines of

{
[
{
Question: <A sentence>
Answer: <Paragraph>
Topic/Category: <a word or two>
},
{},{},{},{},{},
]
}

[2020-10-05 04:07] Chinmay-KB commented on #75
Also, the answer will expect basic markdown, so that should render properly

[2020-10-05 08:31] DesignrKnight commented on #93
Hey, any updates
Any help needed from us?

[2020-10-05 11:57] arbazdiwan commented on #75
Got it @DesignrKnight

@Chinmay-KB , can you please explain what kind of markdown will be there?

[2020-10-05 14:28] #72 closed

[2020-10-06 08:44] #105 closed

[2020-10-06 09:02] pratik0197 commented on #93
Yes. I am on it. Currently I am going through the code. I will update it in 3-4 days :)

[2020-10-06 09:03] pratik0197 commented on #93
There is just a problem @DesignrKnight , I am not able to run it locally on physical device in Android Studio, is there any firebase configuration I need to take care of ?

[2020-10-06 09:10] DesignrKnight commented on #93
Send your Firebase mail ID

[2020-10-06 10:16] Chinmay-KB commented on #75
Simple tags for bold, italics, bullet points, links

[2020-10-06 10:16] Chinmay-KB commented on #75
Simple tags for bold, italics, bullet points, links

[2020-10-06 15:05] SriramPatibanda opened #112 "Refactoring routes"
In the current app, while using routes, the app uses strings to mention the specific page and this can cause typos and ultimately errors while coding.

It is better to refactor the code such that we can just declare the string in that specific screen and tap into that constant from anywhere easily thereby reducing typos and errors.

[2020-10-06 16:07] DesignrKnight commented on #112
If I understand correctly, we will have a utility file which will manage the routes. Isn't it?

Sounds like something that will improve the codebase

[2020-10-06 17:03] SriramPatibanda commented on #112
Not exactly. I basically added

Not exactly, I created a static const String (id) at every page which stores the name of the route. So you can easily tap into the route by using something like HomePage.id.

[2020-10-06 18:08] SriramPatibanda commented on #112
@DesignrKnight Please assign this to me. I would like to work on it.

[2020-10-06 18:10] DesignrKnight commented on #112
I am not really sure of this implementation. Imagine the home screen which is the gateway to all other screens. In this, it'll have to refer each of the class to get its route. Won't having one route utility file be better?

CC: @Thesmader

[2020-10-06 19:07] SriramPatibanda commented on #112
Ok, so creating a class named routes, adding all the static const strings under that and just calling the routes class wherever required would be better maybe?

[2020-10-06 19:31] nayakastha opened #114 "Make it compatible to new Android Embedding"
![001](https://user-images.githubusercontent.com/58568514/95250749-24970580-0838-11eb-984d-b45dba2b50ed.PNG)

This warning is received in the latest stable version of Flutter (1.22.0) on completion of -flutter pub get

[2020-10-06 19:34] DesignrKnight commented on #114
Warning
──────────────────────────────────────────────────────────────────────────────
Your Flutter application is created using an older version of the Android
embedding. It's being deprecated in favor of Android embedding v2. Follow the
steps at

https://flutter.dev/go/android-project-migration

to migrate your project.

[2020-10-06 19:37] pratik0197 commented on #93
priyadarshanpratik123@gmail.com

[2020-10-07 04:40] DesignrKnight commented on #93
Have given you access to Firebase. Download the google-services.json from there and you should be good to go

Test Login Numbers
![Uploading image.png…]()

[2020-10-07 04:41] DesignrKnight commented on #93
Have given you access to Firebase. Download the google-services.json from there and you should be good to go

Test Login Numbers
![image](https://user-images.githubusercontent.com/27865704/95288247-774ade80-0885-11eb-9c5d-8d40dd73eb95.png)

[2020-10-07 15:07] SriramPatibanda opened #117 "The project needs to be migrated as it uses an older version of Android embedding."
You get build errors and the following warning while you try to run the app after upgrading to the latest flutter version:

Your Flutter application is created using an older version of the Android
embedding. It's being deprecated in favor of Android embedding v2. Follow the
steps at
https://flutter.dev/go/android-project-migration
to migrate your project.

[2020-10-07 15:35] SriramPatibanda commented on #117
@DesignrKnight  Please assign me to this issue. I tend to follow the instructions given at https://flutter.dev/go/android-project-migration and migrate the project so that the conflict is solved.

[2020-10-07 15:57] DesignrKnight commented on #117
Duplicate of #114
Assigning you #114

[2020-10-07 15:57] #117 closed

[2020-10-07 15:57] DesignrKnight commented on #114
In continuation of a conversation with @SriramPatibanda at #117
Assigning you the same

[2020-10-07 21:42] SriramPatibanda commented on #114
Never mind. Changing the Application.java file solved the issue.

[2020-10-08 12:30] therealansh commented on #88
Hey @DesignrKnight! any updates for this?

[2020-10-08 12:42] arbazdiwan commented on #75
after solving a lot of build issues, I am able to successfully run the App (I think there should me steps written in readme.md file to configure the project).

I've received the OTP, it is asking me for roll number. Not accepting any random roll number.

What to do now?
where to find and store this data?

please reply asap @Chinmay-KB , @DesignrKnight

[2020-10-08 12:52] DesignrKnight commented on #75
Roll number format

111AB1234

[2020-10-08 14:04] DesignrKnight commented on #75
![image](https://user-images.githubusercontent.com/27865704/95469452-49f15400-099d-11eb-9afb-6309d8e68530.png)

Test Numbers

[2020-10-08 16:22] Thesmader commented on #114
@Chinmay-KB mind taking a look at the native kotlin code?

[2020-10-10 06:09] pratik0197 opened #120 "Add a Contact via WhatsApp feature"
The message button in mentor's details has functionality of sending text messages. Text messages are usually ignored by most. How about adding a contact via WhatsApp feature? That way, the mentees can directly contact their mentors on whatsapp even if their number is not saved.

[2020-10-10 06:14] DesignrKnight commented on #120
We could. Only problem being many numbers aren't WhatsApp numbers.

[2020-10-10 06:17] pratik0197 commented on #120
Yes. I didn't consider that

[2020-10-10 06:17] #120 closed

[2020-10-10 07:54] pratik0197 opened #121 "Update Time Table automatically with date"
The Time Table of First year seems to be fixed to the Autumn Semester only.

For example, the timings of sections seem to be still in Autumn semester without the sequence being changed.

Can check the present date for whether it is in Spring or Autumn semester and render the timetable accordingly? :)

[2020-10-10 09:44] DesignrKnight commented on #121
Assigned

[2020-10-10 16:59] DesignrKnight commented on #121
Do update us when done. Will look forward to how you do it

[2020-10-10 17:17] pratik0197 commented on #121
Planning to do it in the following way:

1. Determine the current month using DateTime.now().month
2. If the month is greater than 8, Time table to remain same. Else, reassign the practical and theory section to the corresponding sections.

The explanation for corresponding sections:
P1-P5 have same schedule in PT as P6-P10 have in TP and vice versa. Similarly, A-D in PT have same as E-H in TP and

[2020-10-10 17:34] DesignrKnight commented on #121
Reassign section as in the section of the user?

[2020-10-10 17:36] DesignrKnight commented on #121
Let's say I am in A section
I will still be in A section in Spring, but my timetable will be same as E section's from Autumn sem

[2020-10-10 17:36] DesignrKnight commented on #121
Also, what about subjects like Maths - I and Maths - II?

[2020-10-10 17:40] pratik0197 commented on #121
Yes. That's what I'm planning to do.

[2020-10-10 17:40] pratik0197 commented on #121
Working on that currently :)

[2020-10-10 20:17] pratik0197 commented on #121
Actually , I have added it to the TODO in my commit after modifying that theory and practical section for spring semester . Thinking to find a way out to solve that issue in as less modifications as possible.

[That commit link.](https://github.com/pratik0197/project-avocado/commit/cdcf6b0b41e4b87de3e172b266aec9660cfe0332).

[2020-10-10 20:22] pratik0197 commented on #121
What I hav done is, as the theory section or practical sections are not displayed anywhere in the App, I have added a map to find the corresponding section in the Autumn Semester. That is if I am in Section A, and it is spring semester, the section in the app will be changed to E and it's time table will be displayed. Is that a correct way? Because I have not seen anywhere the section or practical

[2020-10-11 14:42] #114 closed

[2020-10-11 18:39] #112 closed

[2020-10-12 06:50] DesignrKnight commented on #88
Apologies on the delayed response, we have decided to solve this issue internally within the team. Due to some concerns, we are not publishing the Node.js cloud functions on a public domain

Thank you for your interest

[2020-10-15 08:40] #93 closed

[2020-11-02 16:50] #121 closed

[2020-11-02 16:51] #87 closed

[2020-11-02 16:53] #41 closed

[2020-11-02 17:09] DesignrKnight commented on #86
@abhibhaw
ANy updates?

[2020-11-02 17:10] #70 closed

[2020-11-02 17:42] abhibhaw commented on #86
I am still on it!

[2020-11-02 19:04] #74 closed

[2020-11-02 19:04] #79 closed

[2020-11-08 11:58] nayakastha opened #133 "Add a delete option for absents in Attendance Tracker"
In the attendance tracker, make a feature to delete the existing entries of a particular day.

At present we have a reset button which removes all the registered data.

[2020-11-13 19:00] abhibhaw opened #135 "Configure FCM for App in Foreground State"
**Expected behavior**
To show something in the foreground before it redirects to the Notifications Page.

## Reference:
![FCM](https://user-images.githubusercontent.com/39991296/99110450-6aea3c00-2610-11eb-9269-66012b5f0168.gif)

[2020-11-14 05:14] #86 closed

[2020-11-14 05:15] DesignrKnight commented on #71
@nayakastha @SriramPatibanda @abhibhaw If this issue is not present in latest project versions, feel free to close

[2020-11-15 13:14] nayakastha commented on #71
It's working fine for me. Let others just confirm. Will close this.

[2020-11-15 13:38] abhibhaw commented on #71
Working fine for me too 👍

[2020-11-16 13:48] abhibhaw commented on #71
All working fine! Reopen if it fails for someone.

[2020-11-16 13:48] #71 closed

[2020-11-25 17:36] pratik0197 opened #136 "Dynamically Show the information about the members of ICS."
- Presently, the information about the faculty members and other members of the ICS have been hardcoded. The information may change after one sometime(maybe the faculty members change or the students coordinating may change.) and it may be feasible if we show them dynamically.

- I would like to propose fetching the information from firebase and rendering the same dynamically.

[2020-11-25 18:19] DesignrKnight commented on #136
@riteshsp2000

We will have API for these, isn't it?
Or Firebase?

[2020-11-30 19:23] abhibhaw opened #137 "[url_launcher] When targeting API 30, canLaunch always returns false"
Launch URL plugin isn't working!

**To Reproduce**
Upgrade the Android SDK Version to 30.
**Expected behavior**
A URL in the default browser should launch.

**Tested on:**
 - Device: One Plus 8
 - OS: Android 11.0

**Additional context**
- Should work on clicking the privacy policy of the side navbar.
- And the cards of FAQ, Notification, Dev Info etc.
## Console Log
`E/flutter (14738): [ERROR:flu

[2020-12-01 06:29] SriramPatibanda opened #138 "App crashes when a new user taps the appointments widget for the first time"
**Describe the bug**
The app crashes when a new user goes to the appointments page for the first time. A blue colour oval shaped loader appears before the app freezes.

**To Reproduce**
Steps to reproduce the behaviour:
1. Clear you ap data and register.
2. Click on 'Book your Appointment'

**Expected behaviour**
  The app must not crash

**Screenshots**
![WhatsApp Image 2020-12-01 at 11 55 28 AM]

[2020-12-01 11:59] abhibhaw commented on #137
# Reference of this:

[URL Launcher Issue](https://github.com/flutter/flutter/issues/63727)
[Android 11 Package Visibility Guide](https://developer.android.com/training/basics/intents/package-visibility)

[2020-12-01 17:35] #76 closed

[2020-12-02 08:51] #133 closed

[2020-12-02 14:28] #138 closed

[2020-12-02 14:39] Chinmay-KB commented on #135
Could you explain it a bit further?
* Why is FCM needed?
* What is the "something" that should be shown? A notification dot maybe?

[2020-12-02 14:40] DesignrKnight commented on #135
Present status
If notification comes and app is open, it directly opens the notification route without any warning out of the blue

Expected behavior, show a dialog box with notification when notification comes with app in foreground. Similar to GoGrocy

[2020-12-02 20:28] pratik0197 opened #146 "Use WebView instead of redirecting to the browser"
Using The WebView widget instead of redirecting the URL to the browser. May make better experience if the URL opens in the app itself.

[2020-12-03 04:26] DesignrKnight commented on #136
Why did you close this? 😂
This is a feature that needs to be done at some point

[2020-12-03 11:20] DesignrKnight opened #148 "Add DSC website link"

[2020-12-03 16:32] #148 closed

[2020-12-04 13:55] Chinmay-KB opened #153 "Change App icon in notification"
### Description
Currently the icon shown in a notification is a grey circle, which is the fallback icon for Android
![image](https://user-images.githubusercontent.com/13520364/101170818-f893d700-3664-11eb-998d-a58543498b8d.png)

### Fix
* Generate notification icon assets using this [nifty tool](https://romannurik.github.io/AndroidAssetStudio/icons-notification.html#source.type=clipart&source.clip

[2020-12-05 08:57] nayakastha opened #154 "Add Co-ordinator and Prefect names in the Mentor detail card"

[2020-12-05 09:01] nayakastha opened #155 "Fetch data from the GraphQL client to display the details in ABOUT ICS page."
Use the GraphQL client to fetch the data for prefect and co-ordinators and displaying in the About ICS page in the drawer.

[2020-12-05 09:29] DesignrKnight commented on #155
#136
Seems same I suppose?

[2020-12-05 10:11] nayakastha commented on #155
Ohh yes. I am closing this one.

[2020-12-05 10:11] #155 closed

[2020-12-05 11:09] abhibhaw opened #156 "Fix Optional Sub Null State Error"

[2020-12-12 12:44] Chinmay-KB opened #158 "In app reviews"
## Description
In app reviews is a relatively new feature to Android where the user can rate our app from the app itself.

## Problem
In app reviews should not have a call to action button. Also, the number of times in app reviews can be invoked is regulated by Play services, and can be called only 2-3 times in a year, so we need to call it judiciously

## Package
This package can be used https://

[2020-12-12 13:02] Chinmay-KB opened #159 "Force update app"
## Problem
Currently we have over a third of our users in v 2.2, which is considerably old, being used by the non freshers. This is because they are never notified about any update to the app. A simple notification will be discarded easily. Hence, we can have a solution where a popup comes up, forcing user to update the app.

## Solution
We can use a mix of remote config and a native updater dialo

[2020-12-12 14:11] Chinmay-KB opened #160 "Add Mani to ICS Dev team"
The splash screen animator

[2020-12-13 11:00] #156 closed

[2020-12-14 07:28] GokulParzival opened #164 "Introduction of Chatbot for automated responses on subject syllabus"
**Is your feature request related to a problem? Please describe.**
NITians feel difficult every time to go through the pdf and websites for checking out their syllabus especially the freshers.

**Describe the solution you'd like**
The chatbot will hence help the students figure out the syllabus just by entering the Subject code or subject name

**Describe alternatives you've considered**
I am also

[2020-12-14 15:28] Chinmay-KB commented on #164
We understand that this is your induction task. So we'd like to see this chatbot integrated in the app and not just a standalone service which we open in a browser.
We'll be reviewing your task this weekend. Sounds good?

[2020-12-14 15:36] GokulParzival commented on #164
I actually have my academics started so I would request you for 2 weeks
maximum?

Regards
Gokul

On Mon, 14 Dec 2020, 20:59 Chinmay Kabi, <notifications@github.com> wrote:

[2020-12-15 09:44] #154 closed

[2020-12-15 10:18] #160 closed

[2020-12-16 07:35] nayakastha opened #171 ""About ICS" - designation should be dynamically fetched"

[2020-12-16 16:33] DesignrKnight opened #175 "Clean git history"
- The project-avocado repo is 72MB now on GitHub. The culprit is the .git folder. Reduce size.
- There are apk files that were committed earlier and caused git history to increase
- Bring it down to 2 Mb

[2020-12-17 05:02] Thesmader opened #176 "[WoC] Services - Create an analytics service for Firebase Analytics"
Minimum requirements of the service:
1. The service should contain a function that returns an instance of ```FirebaseAnalyticsObserver```.
2. The service should be registered as a singleton with ```get_it```.

[Reference](https://www.filledstacks.com/post/firebase-analytics-and-metrics-in-flutter/)

[2020-12-17 05:11] Thesmader opened #177 "[WoC] Services - Create a SharedPreferences service"
Minimum requirements for the service:
1. A function to return an instance of SharedPreferences.
2. A function(private to the service) to save different types of content to disk using SharedPreferences.

[Reference](https://www.filledstacks.com/snippet/shared-preferences-service-in-flutter-for-code-maintainability/)

[2020-12-17 13:39] #171 closed

[2020-12-17 13:44] Chinmay-KB commented on #177
To add to what @Thesmader has mentioned, make sure every fetch operation you make is checked with containsKey

[2020-12-17 13:50] Chinmay-KB opened #178 "[WoC] ViewModels - HomePage View Model"
## Scope
Following can be added to HomePage
* The whole of fetchUserData function
* launchUrl()
* in app review
* Everything in initState
* reset()
* Removing user data on logout
* launchUpdate()

Feel free to add to this list if you find anything worth migrating to HomePageViewModel

[2020-12-17 14:03] Chinmay-KB opened #179 "[WoC] ViewModels - Appointments View Model"
## Scope
The following can be added to Appointments
* getData()
* _setupRemoteConfig() (This can be named more appropriately
* Initialising ScpDatabase (SCP is the old name of ICS)

Feel free to add to this list if you find anything worth migrating to AppointmentsViewModel

[2020-12-17 14:06] Chinmay-KB commented on #177
Sometimes we need to clear a bunch of keys, like
* Deleting theory and practical sections while resetting section
* Reset all data while logging out
Have functions in this service that can achieve the said functionality in one click, currently all the keys that need to be deleted are called individually and deleted

[2020-12-18 05:02] DesignrKnight commented on #179
Hey @Chinmay-KB why do we need Remote Config in Appointments?
We will have reset on cloud I suppose. If there is any dynamic data, let us store in RLDB itself along with other appointments data

[2020-12-18 05:58] Chinmay-KB commented on #179
The function remoteconfig does things more than just remote config
Hence I wrote it can be named more appropriately

[2020-12-18 12:42] Priya-81199 commented on #179
It is getDate() right and not getData()? And we have to implement stacked in the appointment.dart and new file on the same file hierarchy appointments_viewmodel.dart?

[2020-12-19 08:05] Chinmay-KB commented on #179
We can move the whole appointments thing to a folder of its own

[2020-12-26 10:54] nayakastha opened #182 "Display the time table according to time and day of the week"
- [ ]  Display the time table of the day first and other days will be scrollable.
- [ ]  Display the class card on the basis of time of the day.
- [ ]  A progress bar beside the card for according to the time elapsed of the class.

[2020-12-26 11:17] DesignrKnight commented on #182
See the progress bar beside the timetable subject card

![image](https://user-images.githubusercontent.com/27865704/103150389-beb47d00-4799-11eb-9a25-94e3e96fa273.png)
Source: https://medium.com/dsc-nit-rourkela/designing-for-easier-access-to-mental-healthcare-e35a14699de6

[2020-12-26 15:43] Chinmay-KB commented on #164
Hello Gokul,
We would like an update on this task

[2020-12-26 15:44] abhibhaw commented on #32
@Chinmay-KB Closing this?

[2020-12-26 15:46] Chinmay-KB commented on #32
PR #168 adds this

[2020-12-26 15:46] #32 closed

[2020-12-26 15:57] GokulParzival commented on #164
Hello @Chinmay-KB, I have manually extracted the syllabus content from NIT RKL Curriculum as the website was not updated yet. I have to integrate with DialogFlow yet. Will get back to you by next week. Sorry for the delay. I have also added an extra feature of recommended books.

![image](https://user-images.githubusercontent.com/41119095/103154909-0e5a6f00-47c1-11eb-90b8-f8fc4b49aeaf.png)

[2020-12-27 13:26] #159 closed

[2020-12-27 13:26] #158 closed

[2020-12-27 13:30] #136 closed

[2020-12-27 13:33] DesignrKnight commented on #137
@abhibhaw
Can you fix this and migrate entire app to v30 SDK?

[2020-12-27 16:48] abhibhaw commented on #137
@DesignrKnight Easiest way to fix the issue is to wait for the plugin's author to push an update for SDK 30.  Still, I will try [Package Visibility](https://developer.android.com/training/basics/intents/package-visibility)

[2020-12-28 08:14] abhibhaw opened #184 "Upgrade Project to SDK v30 (Android 11)"

[2020-12-28 09:05] #137 closed

[2020-12-28 09:05] #184 closed

[2020-12-28 12:10] DesignrKnight commented on #175
This is fixed by a direct push
@abhibhaw @nayakastha @SriramPatibanda @DesignrKnight @ankank30 @Chinmay-KB @Thesmader

Request all to delete existing fork and clone and fork this again to make sure there will not be any conflict later.

[2020-12-28 12:10] #175 closed

[2020-12-28 12:11] DesignrKnight commented on #175
PS: Keep the keystore and google-services.json saved while deleting

[2021-01-01 15:29] sachin2dehury opened #191 "Revamp important documents section"
instead of urls, load thumbnails .

[2021-01-02 02:42] #153 closed

[2021-01-02 04:24] nayakastha opened #193 "Attendance Tracker showing negative absents"
**Describe the bug**
The attendance tracker feature shows negative absent along side printing the subject name twice

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Attendance Tracker'
2. 'Enter a subject and delete it - multiple times - till it decreases down to 0 '
3. 'Continue further deletion'

**Expected behaviour**
The number goes down to negative and the subjects are printed t

[2021-01-02 04:29] nayakastha opened #194 "Migrate the 'Semester Change' to remote config"
Migrate the 'isAutumnSemester' in `TimeTablerResources.dart to Remote Config

[2021-01-12 08:20] Gauravmauryaios commented on #36
I would like to work on this issue as well

[2021-01-12 08:26] Gauravmauryaios commented on #28
can I work on this issue.?

[2021-01-12 08:30] DesignrKnight commented on #28
Surely @Gauravmauryaios
We would be glad to have your help.
@Thesmader or @Chinmay-KB can help here. There is already a refactoring work going on

[2021-01-12 08:32] DesignrKnight commented on #36
Hey, we have decided to solve this issue internally within the team. Due to some concerns, we are not publishing the Node.js cloud functions on a public domain

Thank you for your interest

[2021-01-12 08:48] Chinmay-KB commented on #28
Some stuff is already refactored on a different branch, we just need to merge the branches. After that we can start the documentation work I believe
@Thesmader what do you think?

[2021-01-12 08:59] Thesmader commented on #28
Sure. Let's merge them PRs.

[2021-01-12 09:05] Thesmader commented on #28
@Gauravmauryaios you can go through the Documentation guidelines [here](https://dart.dev/guides/language/effective-dart/documentation) meanwhile. We'll let you know when we're ready for the contribution, which will be very soon.

[2021-01-12 12:00] DesignrKnight opened #198 "Shrink APK size"
![image](https://user-images.githubusercontent.com/27865704/104311687-9186ff00-54fb-11eb-9de7-899a201d2530.png)

As recommended by @sachin2dehury, this might help us. Need to try

[code]

[2021-01-12 16:52] sachin2dehury commented on #198
in case of any class error .. change the proguard file.

[2021-01-12 17:28] DesignrKnight commented on #198
Any references on what possible errors and the possible fix?

[2021-01-13 05:05] DesignrKnight commented on #198
https://stackoverflow.com/questions/57769365/android-minifyenabled-true-shrinkresources-true-keep-crashing-application

[2021-01-13 10:35] Gauravmauryaios commented on #28
Sure. sir @Thesmader  , @Chinmay-KB

[2021-01-13 16:57] Thesmader commented on #28
@Gauravmauryaios You can start working on the documentation. Start with something other than appointments and homepage, since we are still waiting on someone to commit their changes, which will change the code for the appointments and homepage. You won't have to do redundant work this way.
@Chinmay-KB can you onboard him?

PS: No formalities. Just tag us. Please drop the sir thing:smile:.

[2021-01-16 07:01] #179 closed

[2021-01-16 07:01] #178 closed

[2021-01-16 07:01] #177 closed

[2021-01-16 07:01] #176 closed

[2021-01-16 12:53] Chinmay-KB opened #199 "Add Priya and Rahul to contributors in app"
These are the WoC contributors!

[2021-01-20 06:19] riteshsp2000 commented on #146
Hey, I would like to work on this issue. Could you guide me on this?

[2021-01-20 06:19] abhibhaw commented on #146
Sure @riteshsp2000 assigned to you go on!

[2021-01-20 08:01] DesignrKnight commented on #146
One thing to keep in mind. Make sure
1. PDF rendering works well as many links open PDFs
2. Downloads happen and are saved to local storage, as some links download a file

[2021-01-21 06:04] nayakastha opened #203 "Add institute holiday list to the attendance tracker"

[2021-04-12 21:03] abhibhaw opened #206 "Navigation Bug while popping Appointment Page done as part of HomePage Refactoring in MVVM"
**Describe the bug**
On Clicking the Back button on Appointment Page. The home Page is showing an infinite loading screen.

**To Reproduce**
Steps to reproduce the behavior:
Use HomePageView and AppointmentPageView instead of Homepage and Appointment page

**Expected behavior**
Should pop the Appointment Page. The home Page should be visible.

**BUG DEMO**

https://user-images.githubusercontent.co

[2021-04-12 21:05] abhibhaw commented on #206
@haru-02 Try re-reviewing the #196

[2021-04-29 12:43] #194 closed

[2021-04-29 14:02] SriramPatibanda commented on #206
Issue re-opened as a wrong PR is linked.

[2021-09-05 12:32] riteshsp2000 opened #208 "Setup Playstore Deployment action"
### Is your feature request related to a problem? Please describe.
The deployment action setup earlier using CodeMagic is not functional for various reasons which are why as of now there is no way of continuous integration.

### Describe the solution you'd like
Setup a GitHub Action to deploy the app on every new release.

### Additional context
Make sure you keep in mind the following points:
- S

[2021-09-05 12:52] abhibhaw opened #209 "Initalise GraphQL server for dynamic contents of the app"
**Is your feature request related to a problem? Please describe.**
As discussed in the last contributor's meet, we need to build a panel to manage all the dynamic contents of the app.

**Describe the solution you'd like**
- Initialize an Apollo GraphQL server along with mongoose, express, and other required services.
- Setup Eslint, prettier, and other dev configs

**Describe alternatives you've c

[2021-09-05 13:01] abhibhaw opened #210 "Restructure the project repo"
**Is your feature request related to a problem? Please describe.**
As we are planning to use this repo for setting up the client and server part of the app as well. We need to update the readme and other guidelines for the contributors.

**Describe the solution you'd like**
- Set up clear concise repo instructions.
- Add separate setup instructions for: Client, App and Server
- Make sure the diffe

[2021-09-05 18:34] #199 closed

[2021-09-05 18:36] nayakastha opened #211 "Add installation guide in `README.md`"
For reference use - https://github.com/dscnitrourkela/project-elaichi

[2021-09-06 12:20] abhibhaw commented on #211
Can be combined with #210

[2021-09-06 13:00] abhibhaw opened #212 "Create Mongoose model, GraphQL Types, Queries and Mutations"
For:

- [ ] Mentee
- [ ] Mentor
- [ ] Prefect
- [ ] Coordinator
- [ ] Important Docs
- [ ] FAQs

[2021-09-06 13:01] abhibhaw commented on #212
Additional Suggestions:

- We can also move the static developer info cards to database your views @nayakastha @riteshsp2000 @SriramPatibanda ??
- And even the notification and appointment booking section!!

[2021-09-06 13:39] riteshsp2000 commented on #212
Adding more on to this. Is it possible to automate the acad vault access to students via our app? @abhibhaw @nayakastha @SriramPatibanda Thoughts?

[2021-09-06 13:52] DesignrKnight commented on #212
It isn't possible on free plan of GMail/Gsuite

Sent via GMail for Mobile

On Mon, Sep 6, 2021, 19:09 Ritesh Patil ***@***.***> wrote:

[2021-09-07 14:09] #211 closed

[2021-09-09 20:21] nayakastha opened #215 "Attendance Tracker Revamp"

[2021-09-13 17:14] nayakastha opened #216 "Change the deprecated version of the Android embedding."
**Describe the bug**
The plugins `flutter_webview_plugin`, `native_contact_dialog` use a deprecated version of the Android embedding.
To avoid unexpected runtime failures or future build failures, try to see if these plugins support the Android V2 embedding. Otherwise, consider removing them since a future release of Flutter will remove these deprecated APIs.
If you are plugin author, take a look

[2021-09-14 07:39] D-Ajay-Kumar commented on #215
What's the issue about?

[2021-09-14 08:07] nayakastha commented on #215
The **attendance tracker feature** in the app uses `table_calendar` plugin. That plugin is deprecated, we need to upgrade the functions according to the latest version.
Apart from that, we are planning to change some UI aspects of the feature - like adding the dropdown subjects list in the bottom navigation bar.

[2021-10-01 10:09] SriramPatibanda opened #217 "Create a Screen for displaying all the events conducted by ICS."
**Is your feature request related to a problem? Please describe.**
Design and develop a screen to show all the events conducted by ICS in a single place preferably using a ListView.

**Additional context**
- There must be a uniformity in the design that's created and must match with the app's current design.
- A GraphQL API for querying the data would be available soon.

[2021-10-02 14:24] riteshsp2000 commented on #209
Hey @abhibhaw I would like to contribute

[2021-10-02 14:24] abhibhaw commented on #209
Sure @riteshsp2000 go ahead 🎉

[2021-11-11 09:16] #36 closed

[2021-11-11 09:31] nayakastha opened #219 "Batch 2021-2025 Update"
- [ ] YourDost Embed in place of Book Your Appointment in Card 1
       1. Change the image on the card.
       2. For the redirect, either webview or browser redirect world work.
       3. Remove the entire offline slot booking procedure.
       4. From the important documents, remove the google form link for slot booking.

- [ ] ICS Youtube and Website Mention
       1. On the drawer panel, add

[2021-11-11 09:32] nayakastha commented on #219
@SriramPatibanda check if I am missing anything.

[2021-11-11 09:33] nayakastha opened #220 "Pupil Mood Detector1. Add a card on the homepage for taking a quiz to detect the mood of the pupil.2. Assign an emoji based on the score.3. The pupil can retake the quiz any number of times they wish.4. Once the pupil has taken the quiz, show the Emoji and a playlist according to the emoji of the pupil5. The mentor should be able to see the emojis of his/her mentees."

[2021-11-11 09:33] nayakastha opened #221 "Add Link for the sophomore year timetable in the timetable section."

[2021-11-11 09:33] nayakastha opened #222 "Change the regex for segregating mentors and mentees wrt the upcoming batch."

[2021-11-11 09:34] nayakastha opened #223 "Team Members Updates - Co-ordinators, Prefects, Faculty Members"

[2021-11-11 09:34] nayakastha opened #224 "List All the ICS Events"
1. Add a card on the home screen for a page containing all the list of ICS Events and Notices.
2. For making it dynamic, use firebase firestore.
3. Each Event Notice will contain - title, description, image

[2021-11-11 09:34] nayakastha opened #225 "Links Updates in Important Document Sections"

[2021-11-11 09:34] nayakastha opened #226 "ICS Youtube and Website Mention"
1. On the drawer panel, add `Youtube` and `Website` items, which will be just linked redirects.

[2021-11-11 09:34] nayakastha opened #227 "YourDost Embed in place of Book Your Appointment in Card"
1. Change the image on the card.
2. For the redirect, either webview or browser redirect world work.
3. Remove the entire offline slot booking procedure.
4. From the important documents, remove the google form link for slot booking.

[2021-11-11 12:20] SriramPatibanda opened #228 "Change all the print statements in the project to debugPrint"

[2021-11-11 13:14] #216 closed

[2021-11-11 13:48] HustleAura commented on #226
I want to work.

[2021-11-11 14:20] #193 closed

[2021-11-11 14:27] DesignrKnight commented on #226
All the best on your PR. Looking forward to it

[2021-11-11 14:50] abhibhaw commented on #206
Todo: close this after #227

[2021-11-12 06:06] DesignrKnight commented on #221
Add the link in the side navigation drawer or similar places. The primary audience of the app remains the freshers and it better to have a seamless access for freshers by using the primary features for them and not provide multiple paths for the users who are in freshmen year

[2021-11-14 07:19] #226 closed

[2021-11-16 15:01] swayamjit2805 commented on #225
I am interested.

[2021-11-17 06:27] nayakastha opened #232 "Add new contributors to the app and github"
1. Manjeet Pani

`don't work on this issue now. new contributors still working`

[2021-11-17 17:26] HustleAura commented on #228
I want to work.

[2021-11-18 10:38] nayakastha commented on #225
Changed the new links directly from the firebase firestore.

[2021-11-18 10:38] #225 closed

[2021-11-18 14:23] nayakastha commented on #221
Yes. Added it in the important document section to prevent any kind of confusion.

[2021-11-18 14:23] #221 closed

[2021-11-21 15:23] SriramPatibanda opened #236 "Create one single launchUrl function and reuse it wherever required."
**Describe the bug**
To launch a URL, launchUrl function was created many times for every use case.

**Suggested Improvement**
Create on single launchUrl function taking URL and/or error message as the arguments and reuse it at necessary places.

[2021-11-23 16:05] HustleAura commented on #222
I want to work.

[2021-11-30 15:10] nayakastha commented on #223
@HustleAura I am assigning this to you.

[2021-11-30 16:06] nayakastha commented on #223
Faculty Members Update Done.

[2021-11-30 16:45] #222 closed

[2021-11-30 16:45] #223 closed

[2021-12-02 09:06] #224 closed

[2021-12-02 10:38] nayakastha opened #242 "Update README.md with the latest format and Push the new release"
1. Add new screenshots.
2. Transfer the install guidelines to `\scp\README.md`
3. Add the latest features.
4. Add new tags to the contributors.
5. Create a new release for the session 2021-22
6. Change the semester value in remote config to `autumn`

[2021-12-02 10:42] #227 closed

[2021-12-04 07:36] #236 closed

[2021-12-23 04:52] Chinmay-KB opened #249 "App crash related to flutter_contacts"
App is crashed when using flutter_contacts, as reported in flirebase crashalytics.
[code]

 - Device: [e.g. Nokia 5.4]
 - OS: [e.g. Android 11]
 - Version [e.g. 4.3.0]
Fix
Add the permissions to the manifest file
[code]

[2021-12-26 19:11] Jarbuyer opened #250 "Dark theme in the ics app ..."
The background of the app is totally white... it burns my eyes in night and is very irritating considering most other apps on my device has some kind of dark/black theme..

So can you guys make a dark version of the backgroud and add an option to switch btw black and white theme...

Dark background in the sense totally black(# 000000) as it helps saving battery in amoled screens.

[2021-12-28 17:13] DesignrKnight commented on #191
Hey @sachin2dehury
Why close this? Is this resolved in an existing PR or is feature cancelled to be implemented?

[2021-12-29 06:51] DesignrKnight commented on #191
Hey @abhibhaw
This looks like a good feature. Discuss with one is the new developers and guide them on this.

If someone is willing to work, open the issue and work

[2021-12-29 06:51] DesignrKnight commented on #191
CC: @SriramPatibanda

[2021-12-29 07:57] abhibhaw commented on #191
Yep this should be implemented, @sachin2dehury it would be great if you can add a bit more details about the desired outcome. ;)

[2021-12-30 09:10] Chinmay-KB commented on #191
When we share a doc on whatsapp, the thumbnail is the first page of that doc, something similar here maybe. In place of list of urls and titles, a list of images and titles

[2022-01-07 18:40] ayyysh04 commented on #228
can I work on this?

[2022-01-07 18:52] abhibhaw commented on #228
sure @ayyysh04 , Not only change, but also do remove the unnecessary print statements which aren't relevant for the project now.

[2022-09-27 18:12] #249 closed

[2022-10-03 14:00] abhibhaw opened #255 "Build failed due to use of deprecated Android v1 embedding."
Build Logs: [Codemagic Logs](https://api.codemagic.io/builds/63333d21dd6888a78e92ab55/step/63333d21e7c9f2ac0c8fd71e)

Fix Ref: [Flutter migration guide](https://flutter.dev/go/android-project-migration)

[2022-10-03 14:03] asutoshranjan commented on #255
Assign me this issue

[2022-10-03 14:22] #255 closed

[2022-10-03 14:23] abhibhaw commented on #228
Fixed by #252

[2022-10-03 14:23] #228 closed

[2022-10-03 21:57] asutoshranjan opened #256 "Subject name and location button are overlapping"
![timetable_page_bug](https://user-images.githubusercontent.com/81508078/193692078-7d7ccc96-733c-485e-b0ad-07dc1de75ed4.jpeg)

As in the engineering mechanics tutorial widget, the subject name is overlapping with the location button. I think having a single-line autosized text is the only fix as if text flows to the next line may not fit within the widget

[2022-10-03 22:07] asutoshranjan opened #257 "App drawer menus and logout button are overlapping"
![app_drawer_bug](https://user-images.githubusercontent.com/81508078/193694658-f930f0ea-9884-4f0d-8ab8-f45de7cce7f0.jpeg)

[2022-10-07 11:48] abhibhaw opened #261 "Upgrade old buttons to new buttons"
As it's been a bit long since flutter introduced the new buttons: Elevated, Text, Outlined
This project still uses the old buttons, upgrade it to new one's
[REF](https://docs.flutter.dev/release/breaking-changes/buttons)

[2022-10-07 11:51] #257 closed

[2022-10-07 11:56] #256 closed

[2022-10-07 12:08] asutoshranjan commented on #261
Please assign me this issue i am working on it

[2022-10-29 06:33] #261 closed

[2022-10-30 16:04] asutoshranjan opened #263 "FAQ section in Flutter"
Current version of app uses kotlin bridge for displaying the faqs a faq section built with flutter would be better.

[2022-10-30 16:10] asutoshranjan opened #264 "Acad Vault integration in ICS APP"
Acad Vault is an important resource used widely by students of NITR . Therefore its integration with the ICS app would be useful and more accessible by a lot of students

[2022-10-30 19:03] asutoshranjan opened #265 "Update: Counselling Services Card"
Add an intermediate page having details about Your Dost and Offline Counseling.

[2022-11-02 20:02] asutoshranjan opened #267 "Show the app terms and conditions in apps webview"
The app's terms and conditions are on a webpage as of now we need to show that page in the app it self using webview

[2022-11-03 15:01] #265 closed

[2022-11-03 15:01] #267 closed

[2022-11-14 13:53] #263 closed

[2022-11-14 13:53] #264 closed